.navbar
{
  width:100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  background-color: rgb(95,75,139);
  color:white;
  align-items: center;
  font-size: 18px;
  -webkit-app-region: drag;
}

.fa-arrow-left
{
  margin-left: 4px;
  cursor:pointer;
  -webkit-app-region: no-drag;
}

.left-navbar
{
  display: flex;
  align-items: center;
  justify-self: left;
  padding-left: 5px;
}

.right-navbar
{
  justify-self: right;
}

.inlineUI
{
  display: inline-block;
  margin-right: -5px; /* Display inline block gap spaces fix */

  padding:10px;
  text-align: center;
  cursor: pointer;
  transition: all 0.25s ease-out;
  -webkit-app-region: no-drag;
}

.inlineUI.active
{
  background-color: white;
  color: rgb(95,75,139);
  font-weight: 700;
}

.inlineUI:hover
{
  background-color: white;
  color: rgb(95,75,139);
  font-weight: 700;
  transition: all 0.25s ease-in;
}
