<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar">

    <div class="left-navbar">
      <img src="{{iconPath}}" alt="" style="width:28px;height:28px;">
      <div style="display: inline-block; padding: 7px; font-weight: 700; letter-spacing:1px;">{{title}}</div>
    </div>

    <div>
      <div class="inlineUI">About</div>
      <div class="inlineUI">Notes</div>
    </div>

    <div class="right-navbar">
      <div class="inlineUI">?</div>
      <div class="inlineUI">-</div>
      <div class="inlineUI" style="font-size:16px;">⛶</div>
      <div class="inlineUI">X</div>
    </div>

</nav>
